html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.menu-section {
  background-color: #f8f9fa;
  font-weight: 600;
  text-transform: uppercase;
}

.menu-section td {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-top: 2px solid #dee2e6;
}

.menu-subsection {
  background-color: #fcfcfd;
  font-weight: 600;
}

.menu-subsection td {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-top: 1px solid #e9ecef;
}